<!DOCTYPE html>
<html>

<head>
    <title>
        メッセージ投稿
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>メッセージ投稿</h1>
    <form action="/messages" method="post">
        <label for="content">メッセージ内容</label>
        <input type="text" name="content">
        <input type="submit" value="作成">
    </form>
</body>

</html>