<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        メッセージ
    </header>
    <h1>
        <a href="/messages">メッセージ</a>
    </h1>
    <div>
        <h2>
            <%= message.content %>
        </h2>
        <ul>
            <% message.replies.map(function(reply){ %>
                <li>
                    <p>
                        <%= reply.content %>by
                            <%= reply.user.name %>
                    </p>
                </li>
                <% }) %>
        </ul>
    </div>
    <div>
        <h3>返信する</h3>
        <form action="/replies" method="post">
            <input type="hidden" name="messageId" value="<%= message.id %>">
            <input type="text" name="replyContent">
            <input type="submit" value="作成">
        </form>
    </div>
</body>

</html>