<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>ログイン</h1>
    <form action="/signin" method="post">
        <div>
            <label>ユーザー名</label>
            <input type="text" name="username">
        </div>
        <div>
            <label>パスワード</label>
            <input type="password" name="password">
        </div>
        <div>
            <input type="submit" value="ログイン">
        </div>
    </form>
</body>

</html>